* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 18px;
  position: relative;
}

#menu-toggle {
  display: none;
}

.menu-mobile {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
}

.nav-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-mobile li{
    list-style: none;
}

.menu-mobile li a {
    text-decoration: none;
    color: #000;
}

#menu-toggle:checked ~ .menu-mobile {
  display: block;
}

.logo-header {
  width: 54px;
  height: 50px;
}

.icono-menu {
  width: 36px;
  height: 32px;
  cursor: pointer;
}

.hero{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero > h2{
    font-size: 48px;
    text-align: center;
    padding: 12px;
}

.sobre-mi{
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.sobre-mi h2{
    text-align: center;
    font-size: 32px;
}

.sobre-mi img{
    width: 80px;
    height: 80px;
    margin: 0 auto;
}


.servicios h3{
    text-align: center;
    font-size: 32px;
}

.card-servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px;
}

.contacto{
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.contacto h3{
    font-size: 32px;
    text-align: center;
}

.campo{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.contacto button{
    background-color: #FFD953;
    padding: 10px 5px;
    border-radius: 5%;
    font-weight: 600;
}

.footer{
    background: #DBDBDB;
    padding: 15px;
}

.logo-footer{
    display: flex;
    gap: 5px;
}

@media screen and (min-width: 768px){
    .hero{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .sobre-mi{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        padding: 5rem;
    }

    .sobre-mi__presentacion{
        padding: 1rem;
    }

    .sobre-mi__presentacion h2{
        text-align: start;
    }
    
    .sobre-mi img{
        width: 211px;
        height: 211px;
    }

    .servicios-cards{
        display: flex;
        gap: .5rem;
    }

    .contacto{
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        padding: 3rem;
    }
    .contacto button{
        width: 100%;
    }

    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
    }
}